.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-family: Arial, sans-serif;
}

.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.calculator-input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

.calculator-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.calculator-result {
    font-size: 24px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.calculator-result span {
    font-weight: bold;
    color: #007BFF;
}